* {
  box-sizing: border-box;
}

:root {
  --color: hsla(0, 0%, 100%, 0.75);
  --background-color: hsl(0, 0%, 95%);
  --column1: hsl(31, 77%, 52%);
  --column2: hsl(184, 100%, 22%);
  --column3: hsl(179, 100%, 13%);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
}

.column {
  position: relative;
  padding: 2.5em;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.sedan {
  background-color: var(--column1);
}

.suv {
  background-color: var(--column2);
}

.luxury {
  background-color: var(--column3);
}

.card h2 {
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  color: var(--background-color);
  text-transform: uppercase;
  margin: 1em 0 1.5em;
}

.card p {
  color: var(--color);
  margin-bottom: 6em;
  font-size: 15px;
  line-height: 150%;
}

.learn-btn {
  background-color: var(--background-color);
  border-radius: 30px;
  display: block;
  width: 7.5rem;
  padding: 0.75em 0;
  text-decoration: none;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  bottom: 2.5em;
  left: 2.5em;
}

.sedan .learn-btn {
  color: var(--column1);
}

.suv .learn-btn {
  color: var(--column2);
}

.luxury .learn-btn {
  color: var(--column3);
}

.sedan .learn-btn:hover,
.suv .learn-btn:hover,
.luxury .learn-btn:hover {
  color: var(--color);
  outline: 2px solid var(--background-color);
}

.sedan .learn-btn:hover {
  background-color: var(--column1);
}

.suv .learn-btn:hover {
  background-color: var(--column2);
}

.luxury .learn-btn:hover {
  background-color: var(--column3);
}

.attribution {
  color: var(--column2);
  margin: 10px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  .card {
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    min-width: 200px;
    margin: 3em 0;
  }

  .sedan {
    border-radius: 10px 10px 0 0;
    background-color: var(--column1);
  }

  .suv {
    background-color: var(--column2);
  }

  .luxury {
    border-radius: 0 0 10px 10px;
    background-color: var(--column3);
  }

  .card h2 {
    font-size: 2em;
    margin: 1em 0;
  }

  .card p {
    margin-bottom: 6em;
  }

  .learn-btn {
    display: block;
    width: 140px;
    padding: 1em 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .card {
    flex-grow: 1;
    width: 80%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
  }

  .column {
    height: 476px;
  }

  .sedan {
    border-radius: 10px 0 0 10px;
  }

  .luxury {
    border-radius: 0 10px 10px 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  .card {
    max-width: 875px;
    width: 60%;
  }

  .sedan {
    border-radius: 10px 0 0 10px;
  }

  .luxury {
    border-radius: 0 10px 10px 0;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    width: 60%;
    max-width: 1200px;
    font-size: 32px;
  }

  .column {
    height: 1200px;
  }

  .card p {
    font-size: 32px;
  }
}

/*


.learn-btn {

  display: block;
  text-decoration: none;
  padding: 14px 30px;
  text-align: center;
  font-size: 15px;
  position: absolute;
  bottom: 3em;
  left: 3em;
}
 */
